.test-border {
  border: solid 1px red;
}

.large-font {
  font-size: 70px;
}

.small-font {
  font-size: small;
  margin-bottom: 0px;
  margin-top: 0px;
}

.underline {
  text-decoration: underline;
}

h1 {
  font-family: "Grand Hotel", cursive;
  font-size: 100px;
  text-align: center;
}

h2 {
  display: inline;
  font-family: "Grand Hotel", cursive;
  font-size: 25px;
  text-align: center;
}

div {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

p {
  font-family: "Lato", sans-serif;
  margin-bottom: 5px;
  text-align: center;
}
